h1 {
  font-size: 40px;
  margin: 0;
  padding: 20px 0;
  font-family: "Open Sans", sans-serif;
}
h1 > a,
h1 > a:link {
  color: #333333;
  text-decoration: none;
}
body {
  overflow-wrap: break-word;
  width: 85%;
  margin: 0 auto 200px auto;
  font-family: sans-serif;
  background-color: rgb(255, 251, 251);
  color: #333333;
}
h2 {
  margin: 0;
}
img {
  max-width: 100%;
}
body img {
  max-width: 120%;
  margin: 0 -10% 1em -10%;
}
.content {
  margin-bottom: 7vh;
}
.back {
  text-decoration: none;
  color: #333333;
}
li.index {
  list-style-type: none;
  margin: 0.4em 0;
}
footer {
  margin: 12vh 0 0 0;
  display: inline-flex;
}
footer img {
  display: block;
  width: 90px;
  height: auto;
}
footer p {
  margin: 0;
  padding: 0 2vh;
}
pre.code,
code {
  font-family: menlo, "andale mono", monospace;
  background-color: rgba(240, 240, 240, 0.2);
  border: 1px solid rgba(220, 220, 220, 0.8);
  display: block;
  overflow: auto;
  padding: 1vh;
  margin-bottom: 1em;
  white-space: pre;
  font-size: 80%;
  line-height: 150%;
}
@media (min-width: 1000px) {
  h1 {
    font-size: 70px;
    letter-spacing: 3px;
  }
  body {
    width: 70%;
  }
  body img {
    max-width: 100%;
    margin: 0 0 1em 0;
  }
}
