h1 {
  font-size: 7vh;
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
}
h1 > a,
h1 > a:link {
  color: black;
  text-decoration: none;
}
img {
  max-width: 100%;
}

.content {
  margin-bottom: 7vh;
}
.back {
  text-decoration: none;
  color: black;
}
li.index {
  list-style-type: none;
  margin: 1vh 0;
}
body {
  overflow-wrap: break-word;
  width: 85%;
  margin: 0 auto 200px auto;
  font-family: sans-serif;
}
footer {
  margin: 12vh 0 0 0;
  display: inline-flex;
}
footer img {
  display: block;
  width: 90px;
  height: auto;
}
footer p {
  margin: 0;
  padding: 0 2vh;
}

pre.code,
code {
  font-family: menlo, "andale mono", monospace;
  background-color: rgba(240, 240, 240, 0.2);
  border: 1px solid rgba(220, 220, 220, 0.8);
  display: block;
  overflow: auto;
  padding: 1vh;
  margin-bottom: 1em;
  white-space: pre;
  font-size: 80%;
}

@media (min-width: 1000px) {
  html {
    /* font-size: 1.6vw; */
  }
  h1 {
    font-size: 100px;
  }
  body {
    width: 70%;
  }
}
